

<div class="amaz_cent">
    <div class="amaz_auto __web-inspector-hide-shortcut__">
        <div class="clear"></div>



        <div class="introduct contact">
            <div class="intr_lf">

                <h2 style="text-align: center;">@ViewData.Model.Title</h2>

                <div>
                    <p>
                        @ViewData.Model.Content
                    </p>
                </div>
                <hr>
                
            </div>
           

        </div>
    </div>
</div>